.league-details{
    background-image: url(../img/banner.png);
 
    height: 300px;
    color:#ffffff;
    text-align: center;
    padding-top:10%;
    font-family: 'Lato', sans-serif;
    
    justify-content: center;
    font-size: 40px;

}

.league-details-container{
    margin-top:20px;
    border-radius: 10px;
    color:#ffffff;
}
 
.j-container{
    display: flex;
    justify-content:center;
    
}
.text-align{
    justify-content: center;
    display: flex;
}


.social{
    text-align: center;
    font-size: 40px;
    margin:10px;

    padding-bottom: 20px;
   
    
}

#youtube{
    color:red;
}

.img-style{
    height: 200px;
}




@media only screen and (max-width: 500px) {


    .league-details{
        background-image: url(../img/banner.png);
        background-image: norepeat;
        height: 300px;
        color:#ffffff;
        text-align: center;
        padding-top:20%;
        font-family: 'Lato', sans-serif;
        
        justify-content: center;
        font-size: 40px;
    
    }

    .img-style{
        width:100%;
    }

    .j-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        
    }
   
  }